<td>
    Nombre: <%= couch_type.name %>
</td>

<td class="col-md-1 text-right">
    <%= link_to("Modificar", edit_couch_type_path(couch_type), :method => :get, :class => 'btn btn-info btn-xs pull-right') %>
</td>
<td class="col-md-1 text-right">
    <%= link_to("Eliminar", couch_type_path(couch_type), :data => { :confirm => "¿Estás seguro/a?" }, :method => :delete, :class => 'btn btn-danger btn-xs pull-left') %>
</td>
