<td>
  Nombre: <%= couch_type.name %>
</td>
<td style="text-align:right">
  <%= link_to("Modificar", edit_couch_type_path(couch_type), :method => :get, :class => 'btn btn-info btn-xs') %>
</td>

<td style="text-align:center">
  <%= link_to("Eliminar", couch_type_path(couch_type), :data => { :confirm => "¿Estás seguro?" }, :method => :delete, :class => 'btn btn-danger btn-xs') %>
</td>
