<div class="container">
    <h3>Tipos de Couches</h3>
    <table class="table table-striped">
        <tbody>
            <% @couch_types.each do |couch_type| %>
                <tr>
                    <%= render couch_type %>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to("Crear nuevo tipo de Couch", new_couch_type_path , :class => 'button-xs')%>
</div>
