<div class="panel panel-body">
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/300x240" alt="">
            </a>
        </div>
        <div class="col-md-8">
            <h3><a href="#"><%= couch_post.title %></a></h3>
            <h4>Subheading</h4>
            <p class="truncate-post">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates<br>asd<br> totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde am exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet.</p>
            <div class="row">
                <div class="col-md-5">
                    <div class="ratings-list">
                        <p class="pull-right">18 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>

                <div class="col-md-7">
                    <a class="btn btn-primary pull-right" href="#">Ver Couch<span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

