<div class="panel panel-body">
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/300x240" alt="">
            </a>
        </div>
        <div class="col-md-8">
            <h3><%= link_to couch_post.title, couch_post_path(couch_post.id) %></h3>
            <h4>Couch ofrecido por:  <%=couch_post.username %></h4>
            <p class="truncate-post"><%= couch_post.description %> </p>
            <div class="row">
                <div class="col-md-5">
                    <div class="ratings-list">
                        <p class="pull-right">18 opiniones</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>

                <div class="col-md-7">
                  <%= link_to("Ver Couch", couch_post_path(couch_post.id), :method => :get, :class => 'btn btn-primary pull-right') %>

                    <!--<a class="btn btn-primary pull-right" href="#">Ver Couch<span class="glyphicon glyphicon-chevron-right"></span></a>-->
                </div>
            </div>
        </div>
    </div>
</div>

