<div class="container">
    <div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-lg-12">
                <h1 >Couches visitados</h1>
            </div>
        </div>
 <table class="table table-striped">
    <tbody>
        <div class="panel-group">
          <% @visited_couch_posts.each do |couch_post| %>
      <%= render partial: "couch_post", object: couch_post  %>
        <% end %>
         </div>
  </tbody>
  </table>
      
        <div class="row text-center">
          <td class="col-md-1 text-center">
                    <%= link_to("Volver", root_path , :class => 'btn btn-danger btn-lg pull-right post-couch')%>
                  </td>
                 
        </div>
        <hr>

    </div>
    </div>
</div>