<div class="container">
  <h3>Solicitudes hechas por mí</h3>
    <div class="row">
        <% @my_requests.each do |my_request| %>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body"><%= render partial: "my_request", object: my_request %></div>
            </div>
          </div>
        <% end %>
    </div>
</div>
