<div class="container">
  <div class="authform">
    <h4>Calificando Couch: <%= link_to @couch_post.title, couch_post_path(@couch_post) %></h4>
    <%= render partial: 'couch_post_feedbacks/form', locals:{couch_post: @couch_post, feedback: CouchPostFeedback.new} %>
  </div>
</div>
