<div class="container">
    <h3>Usuarios</h3>
    <table class="table table-striped">
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <%= render user %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
