<div class="container">
  <h3>Calificaciones hechas por mí</h3>
    <div class="row">
        <% @sent_feedbacks.each do |f| %>
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body"><%= render partial: "sent_feedback", locals:{feedback: f} %></div>
            </div>
          </div>
        <% end %>
        <div class="row text-center">
          <div class="col-lg-12">
            <ul class="pagination">
              <%= will_paginate @sent_feedbacks, renderer: BootstrapPagination::Rails, container: false, previous_label: '&laquo;', next_label: '&raquo;' %>
            </ul>
          </div>
        </div>
    </div>
</div>
